<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Degree Class Predictor</title>
</head>
<body>
    <h1>Degree Class Predictor</h1>
    <form action="/predict" method="post">
        <label for="PREV_GPA">Previous GPA:</label>
        <input type="text" id="PREV_GPA" name="PREV_GPA"><br><br>
        <label for="GPA">Current GPA:</label>
        <input type="text" id="GPA" name="GPA"><br><br>
        <label for="HOURS_STUDY">Hours of Study per Week:</label>
        <input type="text" id="HOURS_STUDY" name="HOURS_STUDY"><br><br>
        <label for="JOB_HOURS">Part-Time Job Hours per Week:</label>
        <input type="text" id="JOB_HOURS" name="JOB_HOURS"><br><br>
        <label for="EXTRA_ACTIVITIES_HOURS">Extracurricular Activities Hours per Week:</label>
        <input type="text" id="EXTRA_ACTIVITIES_HOURS" name="EXTRA_ACTIVITIES_HOURS"><br><br>
        <label for="GENDER">Gender:</label>
        <input type="text" id="GENDER" name="GENDER"><br><br>
        <label for="NATIONALITY">Nationality:</label>
        <input type="text" id="NATIONALITY" name="NATIONALITY"><br><br>
        <label for="SCHOOL_TYPE">Type of School:</label>
        <input type="text" id="SCHOOL_TYPE" name="SCHOOL_TYPE"><br><br>
        <label for="GAP_BEFORE_DEGREE">Gap Before Degree:</label>
        <input type="text" id="GAP_BEFORE_DEGREE" name="GAP_BEFORE_DEGREE"><br><br>
        <label for="MAJOR">Major:</label>
        <input type="text" id="MAJOR" name="MAJOR"><br><br>
        <label for="STUDY_SCHEDULE">Study Schedule:</label>
        <input type="text" id="STUDY_SCHEDULE" name="STUDY_SCHEDULE"><br><br>
        <label for="PART_TIME_JOB">Part-Time Job:</label>
        <input type="text" id="PART_TIME_JOB" name="PART_TIME_JOB"><br><br>
        <label for="MOTIVATION">Motivation:</label>
        <input type="text" id="MOTIVATION" name="MOTIVATION"><br><br>
        <label for="STRESS_MANAGEMENT">Stress Management:</label>
        <input type="text" id="STRESS_MANAGEMENT" name="STRESS_MANAGEMENT"><br><br>
        <label for="AVG_GRADE_HS">Average Grade in High School:</label>
        <input type="text" id="AVG_GRADE_HS" name="AVG_GRADE_HS"><br><br>
        <input type="submit" value="Predict">
    </form>
    <div id="result"></div>
</body>
</html
